body {
    div#main {
        div.account {
            position: relative;
            display: block;

            width: 100%;
            height: 100%;
            text-align: center;

            #error {
                width: 75%;
                min-height: 20px;
                
                margin: auto auto;

                padding: 10px;
                margin-top: 10px;
                margin-bottom: 20px;

                background-color: red;
                color: white;
                border-radius: 20px;
                box-shadow: black 10px 10px;

                .mainmessage {
                    padding-bottom: 5px;
                }

                .message {
                    padding-bottom: 5px;
                }
            }

            div#mainarea {
                width: 75%;
                height: 500px;
                padding-top: 10px;

                background-color: white;

                margin: auto auto;
                margin-top: 50px;
                border-radius: 20px;
                form {
                    display: flex;
                    position: relative;

                    flex-direction: column;

                    label {
                        padding-top: 10px;
                    }
                    input.forminput {
                        width: 75%;
                        height: 25px;
                        border: none;
                        border-bottom: 1px solid black;

                        margin: auto auto;
                        box-shadow: rgba(0, 0, 0, 0) 0px 0px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        transition: 0.3s;

                        &:hover {
                            border-bottom: 3px solid black;
                            box-shadow: rgba(0, 0, 0, 0.2) 10px 10px;
                            border-bottom-right-radius: 20px;
                            border-top-right-radius: 20px;
                        }

                        &::placeholder {
                            text-align: center;
                        }
                    }
                    
                    input.formbutton {
                        width: 50%;
                        height: 50px;
                        margin: auto auto;
                        margin-top: 15px;
                    }
                }
            }
        }
        div.noacc {
            width: 75%;
            position: relative;
            display: block;

            margin: auto auto;

            margin-top: 20px;
            text-align: end;
            color: white;

            a {
                color: rgb(87, 164, 251);
                text-decoration: none;

                &:hover {
                    color: rgb(0, 119, 255);
                    text-decoration: underline;
                }
            }
        }
    }

    div.accverified {
        width: 75%;

        background-color: white;

        margin: auto auto;
        padding: 50px;
        padding-top: 10px;
        margin-top: 50px;
        border-radius: 50px;
        text-align: center;
    }
}