$color--main: #b3ff00;
$color--main50: #b3ff008b;
$color--alt: #89c400;
$color--altalt: #89c400;
$color--maintext: #000000;
$color--alttext: "";
$color--altalttext: "";

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: $color--main;


    div#background {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        div.senna {
            div.slope {
                div.item {
                    width: 100%;
                    height: 100%;
                }
                div.slope4 {
                    clip-path: polygon(82% 86%, 41% 87%, 40% 92%, 41% 100%, 82% 88%);
                }
                div.black {
                    background-color: black;
                }
                div.white {
                    background-color: white;
                }
            }
        }
    }

    div#main {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        overflow: auto;

        header#header {
            width: 100%;
            height: 60px;

            position: relative;
            margin-bottom: 10px;

            h1 {
                padding-left: 10px;
            }

            div#headermenu {
                div#headermenubutton {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 30px;
                    width: 100px;
                    height: 100px;
                    z-index: 10;

                    div.strokes {
                        display: block;
                        width: 100%;
                        height: 15px;
                        background-color: black;
                        transition: 0.5s;
                    }

                    div.strokes.first {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    div.strokes.second {
                        display: block;
                        position: absolute;
                        top: 40px;
                        left: 0;
                        opacity: 1;
                    }

                    div.strokes.third {
                        position: absolute;
                        top: 80px;
                        left: 0;
                    }

                    &:hover {
                        div.strokes.second {
                            position: absolute;

                            transform: rotate(-40deg);
                            width: 120%;
                            left: -10px;
                            border-radius: 20px;
                        }
                    }

                }

                &.activemenu {
                    div#headermenubutton {
                        div.strokes {
                            border-radius: 20px;
                        }

                        div.strokes.first {
                            transform: rotate(45deg);
                            margin-top: 40px;
                        }

                        div.strokes.third {
                            transform: rotate(-45deg);
                            margin-top: -40px;
                        }

                        div.strokes.second {
                            opacity: 0 !important;
                        }
                    }
                    div#headermenuitems {
                        z-index: 1;
                        position: absolute;
                        top: -21px;
                        right: 0;
                        width: 250px;
                        height: 100vh;
                        background-color: $color--alt;
                    }
                }
            }
        }
    }
}